body{
    width: 100%;
}

.main{
    background-color: rgb(29, 131, 248);
    border-radius: 15px;
    margin: auto;
    margin-top: 40px;
}

.title {
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(20, 20, 20);
}